.vs/ArxProject3/FileContentIndex/f230e1ef-dd7a-4271-b6b0-6300f9f20612.vsidx
.vs/ArxProject3/v17/.suo
.vs/ArxProject3/v17/Browse.VC.db
.vs/ArxProject3/v17/Browse.VC.db-shm
.vs/ArxProject3/v17/Browse.VC.db-wal
.vs/ArxProject3/v17/Browse.VC.opendb
.vs/ArxProject3/v17/DocumentLayout.json
.vs/ArxProject3/v17/ipch/815c526b8b5c1795.ipch
x64/Debug/ADSKArxProject3.pdb
x64/Debug/ADSKArxProject3.arx
ArxProject3/x64/Debug/ArxProject3.pch
